{
    "printWidth": 120,
    "singleAttributePerLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true
}
